h1 {
  font-size: 3rem;
  margin-bottom: 0;
  color: #000099;
  }

@media (max-width: 300px) { 
h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
}

title {
  color: blue;
}

main {
  margin: 30px 8px;
  padding: 15px;
  font-family: Arial, Sans-Serif;
  border-radius: 5px;
  background: #6261;
}
h2 {
font-size: 2rem;
}

body {
  font-family: Arial, Sans-Serif;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: center;
  margin: 0;
}
@media (max-width: 300px) {
  #img-caption {
  font-size: 1.2rem;
  }
}
ul {
  max-width: 500px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.5;
}
li {
  margin: 15px 0;
}
#headline {
margin: 50px 0;
text-align: center;
}
tribute info {
color: blue:
}
img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}